
.grid {
    width: 606px; 
    /* 200x3(kare) + 1x6(kenarlık) = 606 */
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 200px;
    height: 200px;
    border: solid black 1px;
}

.mole {
    background-image: url('mole.jpg');
    background-size: cover;
    /*javascript le mole sınıfı eklenicek*/
}